USE [bookdb]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'serviceData'
GO
ALTER TABLE [dbo].[userSetValues] DROP CONSTRAINT [FK_userSetValues_setValues]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK_users_countriesCodes]
GO
ALTER TABLE [dbo].[systems] DROP CONSTRAINT [FK_systems_users1]
GO
ALTER TABLE [dbo].[systems] DROP CONSTRAINT [FK_systems_users]
GO
ALTER TABLE [dbo].[setValues] DROP CONSTRAINT [FK_setValues_setting]
GO
ALTER TABLE [dbo].[serviceDataFiles] DROP CONSTRAINT [FK_serviceDataFiles_serviceData]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_users1]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_users]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_systems]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_passengers]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_operations]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_officeSystem]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_office]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_flights]
GO
ALTER TABLE [dbo].[serviceData] DROP CONSTRAINT [FK_serviceData_exchange]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_users2]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_users1]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_users]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_systems]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_serviceData]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_paySides]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_payOp]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_passengers]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_office]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_flights]
GO
ALTER TABLE [dbo].[payOp] DROP CONSTRAINT [FK_payOp_exchange]
GO
ALTER TABLE [dbo].[passengerFiles] DROP CONSTRAINT [FK_passengerFiles_passengers]
GO
ALTER TABLE [dbo].[operations] DROP CONSTRAINT [FK_operations_statementsTable]
GO
ALTER TABLE [dbo].[operations] DROP CONSTRAINT [FK_operations_durationsTable]
GO
ALTER TABLE [dbo].[officeSystem] DROP CONSTRAINT [FK_officeSystem_systems]
GO
ALTER TABLE [dbo].[officeSystem] DROP CONSTRAINT [FK_officeSystem_office]
GO
ALTER TABLE [dbo].[officeFiles] DROP CONSTRAINT [FK_officeFiles_office]
GO
ALTER TABLE [dbo].[office] DROP CONSTRAINT [FK_office_users1]
GO
ALTER TABLE [dbo].[office] DROP CONSTRAINT [FK_office_users]
GO
ALTER TABLE [dbo].[flights] DROP CONSTRAINT [FK_flights_toTable]
GO
ALTER TABLE [dbo].[flights] DROP CONSTRAINT [FK_flights_fromTable]
GO
ALTER TABLE [dbo].[flights] DROP CONSTRAINT [FK_flights_flightTable]
GO
ALTER TABLE [dbo].[flights] DROP CONSTRAINT [FK_flights_airlines]
GO
ALTER TABLE [dbo].[error] DROP CONSTRAINT [FK_error_users]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_users1]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_users]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [FK_customers_countriesCodes]
GO
ALTER TABLE [dbo].[cities] DROP CONSTRAINT [FK_cities_countriesCodes]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF_users_balance]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [DF_customers_balanceType]
GO
ALTER TABLE [dbo].[customers] DROP CONSTRAINT [DF_customers_balance]
GO
ALTER TABLE [dbo].[countriesCodes] DROP CONSTRAINT [DF_countriesCodes_isDefault]
GO
/****** Object:  Table [dbo].[userSetValues]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[userSetValues]') AND type in (N'U'))
DROP TABLE [dbo].[userSetValues]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[toTable]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[toTable]') AND type in (N'U'))
DROP TABLE [dbo].[toTable]
GO
/****** Object:  Table [dbo].[systems]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[systems]') AND type in (N'U'))
DROP TABLE [dbo].[systems]
GO
/****** Object:  Table [dbo].[statementsTable]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[statementsTable]') AND type in (N'U'))
DROP TABLE [dbo].[statementsTable]
GO
/****** Object:  Table [dbo].[setValues]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[setValues]') AND type in (N'U'))
DROP TABLE [dbo].[setValues]
GO
/****** Object:  Table [dbo].[setting]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[setting]') AND type in (N'U'))
DROP TABLE [dbo].[setting]
GO
/****** Object:  Table [dbo].[serviceDataFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[serviceDataFiles]') AND type in (N'U'))
DROP TABLE [dbo].[serviceDataFiles]
GO
/****** Object:  Table [dbo].[serviceData]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[serviceData]') AND type in (N'U'))
DROP TABLE [dbo].[serviceData]
GO
/****** Object:  Table [dbo].[ProgramDetails]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProgramDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ProgramDetails]
GO
/****** Object:  Table [dbo].[paySides]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[paySides]') AND type in (N'U'))
DROP TABLE [dbo].[paySides]
GO
/****** Object:  Table [dbo].[payOp]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payOp]') AND type in (N'U'))
DROP TABLE [dbo].[payOp]
GO
/****** Object:  Table [dbo].[passengers]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[passengers]') AND type in (N'U'))
DROP TABLE [dbo].[passengers]
GO
/****** Object:  Table [dbo].[passengerFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[passengerFiles]') AND type in (N'U'))
DROP TABLE [dbo].[passengerFiles]
GO
/****** Object:  Table [dbo].[operations]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[operations]') AND type in (N'U'))
DROP TABLE [dbo].[operations]
GO
/****** Object:  Table [dbo].[officeSystem]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[officeSystem]') AND type in (N'U'))
DROP TABLE [dbo].[officeSystem]
GO
/****** Object:  Table [dbo].[officeFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[officeFiles]') AND type in (N'U'))
DROP TABLE [dbo].[officeFiles]
GO
/****** Object:  Table [dbo].[office]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[office]') AND type in (N'U'))
DROP TABLE [dbo].[office]
GO
/****** Object:  Table [dbo].[fromTable]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fromTable]') AND type in (N'U'))
DROP TABLE [dbo].[fromTable]
GO
/****** Object:  Table [dbo].[flightTable]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[flightTable]') AND type in (N'U'))
DROP TABLE [dbo].[flightTable]
GO
/****** Object:  Table [dbo].[flights]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[flights]') AND type in (N'U'))
DROP TABLE [dbo].[flights]
GO
/****** Object:  Table [dbo].[exchange]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[exchange]') AND type in (N'U'))
DROP TABLE [dbo].[exchange]
GO
/****** Object:  Table [dbo].[error]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[error]') AND type in (N'U'))
DROP TABLE [dbo].[error]
GO
/****** Object:  Table [dbo].[durationsTable]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[durationsTable]') AND type in (N'U'))
DROP TABLE [dbo].[durationsTable]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[customers]') AND type in (N'U'))
DROP TABLE [dbo].[customers]
GO
/****** Object:  Table [dbo].[countriesCodes]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[countriesCodes]') AND type in (N'U'))
DROP TABLE [dbo].[countriesCodes]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cities]') AND type in (N'U'))
DROP TABLE [dbo].[cities]
GO
/****** Object:  Table [dbo].[airlines]    Script Date: 28/11/2023 4:06:07 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[airlines]') AND type in (N'U'))
DROP TABLE [dbo].[airlines]
GO
/****** Object:  Table [dbo].[airlines]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airlines](
	[airlineId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_airlines] PRIMARY KEY CLUSTERED 
(
	[airlineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[cityId] [int] IDENTITY(1,1) NOT NULL,
	[cityCode] [nvarchar](50) NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_cities] PRIMARY KEY CLUSTERED 
(
	[cityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countriesCodes]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countriesCodes](
	[countryId] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[currency] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[isDefault] [tinyint] NOT NULL,
	[timeZoneName] [nvarchar](100) NULL,
	[timeZoneOffset] [nvarchar](100) NULL,
 CONSTRAINT [PK_countriesCodes] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[custId] [int] IDENTITY(1,1) NOT NULL,
	[custname] [nvarchar](500) NOT NULL,
	[lastName] [nvarchar](500) NULL,
	[company] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[phone] [nvarchar](500) NULL,
	[mobile] [nvarchar](500) NULL,
	[fax] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[custlevel] [nvarchar](500) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[custCode] [nvarchar](500) NULL,
	[image] [ntext] NULL,
	[notes] [nvarchar](500) NULL,
	[balance] [decimal](20, 3) NOT NULL,
	[balanceType] [tinyint] NOT NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[isActive] [int] NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[custId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[durationsTable]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[durationsTable](
	[durationId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_durationsTable] PRIMARY KEY CLUSTERED 
(
	[durationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error](
	[errorId] [int] IDENTITY(1,1) NOT NULL,
	[num] [nvarchar](200) NULL,
	[msg] [ntext] NULL,
	[stackTrace] [ntext] NULL,
	[targetSite] [ntext] NULL,
	[createDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
 CONSTRAINT [PK_error] PRIMARY KEY CLUSTERED 
(
	[errorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exchange]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exchange](
	[exchangeId] [int] IDENTITY(1,1) NOT NULL,
	[syValue] [decimal](20, 3) NULL,
	[createDate] [datetime2](7) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
	[createUserId] [int] NULL,
 CONSTRAINT [PK_exchange] PRIMARY KEY CLUSTERED 
(
	[exchangeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flights]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flights](
	[flightId] [int] IDENTITY(1,1) NOT NULL,
	[airline] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[flightTableId] [int] NULL,
	[fromTableId] [int] NULL,
	[toTableId] [int] NULL,
	[isActive] [bit] NULL,
	[balance] [decimal](20, 3) NULL,
	[commission_ratio] [decimal](20, 3) NULL,
	[systemId] [int] NULL,
	[airlineId] [int] NULL,
	[type] [int] NULL,
	[code] [nvarchar](500) NULL,
 CONSTRAINT [PK_flights] PRIMARY KEY CLUSTERED 
(
	[flightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flightTable]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flightTable](
	[flightTableId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_flightTable] PRIMARY KEY CLUSTERED 
(
	[flightTableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fromTable]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fromTable](
	[fromTableId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_fromTable] PRIMARY KEY CLUSTERED 
(
	[fromTableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[office]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[office](
	[officeId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[agentName] [nvarchar](500) NULL,
	[joinDate] [datetime2](7) NULL,
	[mobile] [nvarchar](500) NULL,
	[address] [nvarchar](max) NULL,
	[userName] [nvarchar](500) NULL,
	[passwordSY] [nvarchar](500) NULL,
	[PasswordSoto] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[isActive] [bit] NULL,
	[balance] [decimal](20, 3) NULL,
	[commission_ratio] [decimal](20, 3) NULL,
	[code] [nvarchar](500) NULL,
 CONSTRAINT [PK_office] PRIMARY KEY CLUSTERED 
(
	[officeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officeFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officeFiles](
	[fileId] [int] IDENTITY(1,1) NOT NULL,
	[fileName] [nvarchar](500) NULL,
	[extention] [nvarchar](500) NULL,
	[folderName] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[officeId] [int] NULL,
 CONSTRAINT [PK_officeFiles] PRIMARY KEY CLUSTERED 
(
	[fileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officeSystem]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officeSystem](
	[osId] [int] IDENTITY(1,1) NOT NULL,
	[officeId] [int] NULL,
	[systemId] [int] NULL,
	[office_commission] [decimal](20, 3) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_officeSystem] PRIMARY KEY CLUSTERED 
(
	[osId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operations]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operations](
	[operationId] [int] IDENTITY(1,1) NOT NULL,
	[operation] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[opStatementId] [int] NULL,
	[durationId] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_operations] PRIMARY KEY CLUSTERED 
(
	[operationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passengerFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passengerFiles](
	[fileId] [int] IDENTITY(1,1) NOT NULL,
	[fileName] [nvarchar](500) NULL,
	[extention] [nvarchar](500) NULL,
	[folderName] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[passengerId] [int] NULL,
 CONSTRAINT [PK_passengerFiles] PRIMARY KEY CLUSTERED 
(
	[fileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passengers]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passengers](
	[passengerId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[lastName] [nvarchar](500) NULL,
	[father] [nvarchar](500) NULL,
	[mother] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[isActive] [bit] NULL,
	[balance] [decimal](20, 3) NULL,
	[code] [nvarchar](500) NULL,
 CONSTRAINT [PK_passengers] PRIMARY KEY CLUSTERED 
(
	[passengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payOp]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payOp](
	[payOpId] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](500) NULL,
	[cash] [decimal](20, 3) NULL,
	[opType] [nvarchar](500) NULL,
	[side] [nvarchar](500) NULL,
	[serviceId] [int] NULL,
	[opStatus] [nvarchar](500) NULL,
	[opDate] [datetime2](7) NULL,
	[notes] [nvarchar](max) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[officeId] [int] NULL,
	[passengerId] [int] NULL,
	[userId] [int] NULL,
	[recipient] [nvarchar](500) NULL,
	[recivedFrom] [nvarchar](500) NULL,
	[paysideId] [int] NULL,
	[flightId] [int] NULL,
	[opName] [nvarchar](500) NULL,
	[systemId] [int] NULL,
	[systemType] [nvarchar](50) NULL,
	[currency] [nvarchar](50) NULL,
	[syValue] [decimal](20, 3) NULL,
	[exchangeId] [int] NULL,
	[fromSide] [nvarchar](50) NULL,
	[processType] [nvarchar](50) NULL,
	[sourceId] [int] NULL,
	[paid] [decimal](20, 3) NULL,
	[isPaid] [bit] NULL,
	[deserved] [decimal](20, 3) NULL,
	[purpose] [nvarchar](500) NULL,
	[paidCurrency] [nvarchar](50) NULL,
	[syCash] [decimal](20, 3) NULL,
 CONSTRAINT [PK_payOptb] PRIMARY KEY CLUSTERED 
(
	[payOpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paySides]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paySides](
	[paysideId] [int] IDENTITY(1,1) NOT NULL,
	[side] [nvarchar](100) NULL,
	[sideAr] [nvarchar](100) NULL,
	[notes] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[code] [nvarchar](100) NULL,
	[balance] [decimal](20, 3) NULL,
 CONSTRAINT [PK_paySide] PRIMARY KEY CLUSTERED 
(
	[paysideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramDetails]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activateCode] [nvarchar](max) NULL,
	[isCurrent] [int] NULL,
	[state] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProgramDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serviceData]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serviceData](
	[serviceId] [int] IDENTITY(1,1) NOT NULL,
	[serviceNum] [nvarchar](500) NULL,
	[type] [nvarchar](500) NULL,
	[passenger] [nvarchar](500) NULL,
	[ticketNum] [nvarchar](500) NULL,
	[airline] [nvarchar](500) NULL,
	[officeId] [int] NULL,
	[serviceDate] [datetime2](7) NULL,
	[pnr] [nvarchar](500) NULL,
	[ticketvalueSP] [decimal](20, 3) NULL,
	[ticketvalueDollar] [decimal](20, 3) NULL,
	[total] [decimal](20, 3) NULL,
	[priceBeforTax] [decimal](20, 3) NULL,
	[commitionRatio] [decimal](20, 3) NULL,
	[commitionValue] [decimal](20, 3) NULL,
	[cost] [decimal](20, 3) NULL,
	[saleValue] [decimal](20, 3) NULL,
	[paid] [decimal](20, 3) NULL,
	[profit] [decimal](20, 3) NULL,
	[notes] [nvarchar](max) NULL,
	[state] [nvarchar](500) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[passengerId] [int] NULL,
	[flightId] [int] NULL,
	[operationId] [int] NULL,
	[systemType] [nvarchar](50) NULL,
	[isActive] [bit] NULL,
	[system_commission_value] [decimal](20, 3) NULL,
	[system_commission_ratio] [decimal](20, 3) NULL,
	[office_commission_value] [decimal](20, 3) NULL,
	[office_commission_ratio] [decimal](20, 3) NULL,
	[company_commission_value] [decimal](20, 3) NULL,
	[company_commission_ratio] [decimal](20, 3) NULL,
	[totalnet] [decimal](20, 3) NULL,
	[passengerPaid] [decimal](20, 3) NULL,
	[passengerUnpaid] [decimal](20, 3) NULL,
	[officePaid] [decimal](20, 3) NULL,
	[officeUnpaid] [decimal](20, 3) NULL,
	[airlinePaid] [decimal](20, 3) NULL,
	[airlineUnpaid] [decimal](20, 3) NULL,
	[systemPaid] [decimal](20, 3) NULL,
	[systemUnpaid] [decimal](20, 3) NULL,
	[exchangeId] [int] NULL,
	[osId] [int] NULL,
	[systemId] [int] NULL,
	[syValue] [decimal](20, 3) NULL,
	[tax_ratio] [decimal](20, 3) NULL,
	[tax_value] [decimal](20, 3) NULL,
	[currency] [nvarchar](50) NULL,
	[totalSY] [decimal](20, 3) NULL,
	[priceBeforTaxSY] [decimal](20, 3) NULL,
	[profitSY] [decimal](20, 3) NULL,
	[tax_valueSY] [decimal](20, 3) NULL,
 CONSTRAINT [PK_serviceData] PRIMARY KEY CLUSTERED 
(
	[serviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[serviceDataFiles]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serviceDataFiles](
	[fileId] [int] IDENTITY(1,1) NOT NULL,
	[fileName] [nvarchar](500) NULL,
	[extention] [nvarchar](500) NULL,
	[folderName] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[serviceId] [int] NULL,
 CONSTRAINT [PK_serviceDataFiles] PRIMARY KEY CLUSTERED 
(
	[fileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setting]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setting](
	[settingId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[notes] [ntext] NULL,
 CONSTRAINT [PK_setting] PRIMARY KEY CLUSTERED 
(
	[settingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[setValues]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[setValues](
	[valId] [int] IDENTITY(1,1) NOT NULL,
	[value] [ntext] NULL,
	[isDefault] [int] NOT NULL,
	[isSystem] [int] NOT NULL,
	[notes] [ntext] NULL,
	[settingId] [int] NULL,
 CONSTRAINT [PK_setValues] PRIMARY KEY CLUSTERED 
(
	[valId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statementsTable]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statementsTable](
	[opStatementId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_statementsTable] PRIMARY KEY CLUSTERED 
(
	[opStatementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[systems]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[systems](
	[systemId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[isActive] [bit] NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[company_commission] [decimal](20, 3) NULL,
	[balance] [decimal](20, 3) NULL,
	[code] [nvarchar](500) NULL,
 CONSTRAINT [PK_systems] PRIMARY KEY CLUSTERED 
(
	[systemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[toTable]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toTable](
	[toTableId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_toTable] PRIMARY KEY CLUSTERED 
(
	[toTableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[AccountName] [nvarchar](500) NOT NULL,
	[lastName] [nvarchar](500) NULL,
	[company] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[phone] [nvarchar](500) NULL,
	[mobile] [nvarchar](500) NULL,
	[fax] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[agentLevel] [nvarchar](500) NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[password] [nvarchar](500) NULL,
	[type] [nvarchar](10) NULL,
	[image] [ntext] NULL,
	[notes] [nvarchar](500) NULL,
	[balance] [decimal](20, 3) NOT NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
	[isActive] [bit] NULL,
	[code] [nvarchar](500) NULL,
	[isAdmin] [bit] NULL,
	[groupId] [int] NULL,
	[balanceType] [tinyint] NULL,
	[job] [nvarchar](100) NULL,
	[isOnline] [tinyint] NULL,
	[countryId] [int] NULL,
 CONSTRAINT [PK_agents] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userSetValues]    Script Date: 28/11/2023 4:06:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userSetValues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[valId] [int] NULL,
	[note] [ntext] NULL,
	[createDate] [datetime2](7) NULL,
	[updateDate] [datetime2](7) NULL,
	[createUserId] [int] NULL,
	[updateUserId] [int] NULL,
 CONSTRAINT [PK_userSetValues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cities] ON 

INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (1, N'1', 2)
INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (2, N'2', 2)
INSERT [dbo].[cities] ([cityId], [cityCode], [countryId]) VALUES (3, N'3', 2)
GO
SET IDENTITY_INSERT [dbo].[cities] OFF
GO
SET IDENTITY_INSERT [dbo].[countriesCodes] ON 

INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (1, N'+965', N'KWD', N'Kuwait', 1, N'Arab Standard Time', NULL)
INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (2, N'+966', N'SAR', N'Saudi Arabia', 0, N'Arab Standard Time', NULL)
INSERT [dbo].[countriesCodes] ([countryId], [code], [currency], [name], [isDefault], [timeZoneName], [timeZoneOffset]) VALUES (3, N'+968', N'OMR', N'Oman', 0, N'Arabian Standard Time', NULL)
SET IDENTITY_INSERT [dbo].[countriesCodes] OFF
GO
SET IDENTITY_INSERT [dbo].[error] ON 

INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (1, N'-2146233087', N'''Provide value on ''System.Windows.StaticResourceExtension'' threw an exception.'' Line number ''158'' and line position ''78''.', N'   at System.Windows.Markup.WpfXamlLoader.Load(XamlReader xamlReader, IXamlObjectWriterFactory writerFactory, Boolean skipJournaledProperties, Object rootObject, XamlObjectWriterSettings settings, Uri baseUri)
   at System.Windows.Markup.WpfXamlLoader.LoadBaml(XamlReader xamlReader, Boolean skipJournaledProperties, Object rootObject, XamlAccessLevel accessLevel, Uri baseUri)
   at System.Windows.Markup.XamlReader.LoadBaml(Stream stream, ParserContext parserContext, Object parent, Boolean closeStream)
   at System.Windows.Application.LoadComponent(Object component, Uri resourceLocator)
   at SerialGenerator.View.sectionData.uc_office.InitializeComponent() in D:\Github\book-serial-generator\SerialGenerator\SerialGenerator\View\sectionData\uc_office.xaml:line 1
   at SerialGenerator.View.sectionData.uc_office..ctor() in D:\Github\book-serial-generator\SerialGenerator\SerialGenerator\View\sectionData\uc_office.xaml.cs:line 39', N'System.Object Load(System.Xaml.XamlReader, System.Xaml.IXamlObjectWriterFactory, Boolean, System.Object, System.Xaml.XamlObjectWriterSettings, System.Uri)', CAST(N'2023-11-23T19:57:10.5191825' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (2, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at SerialGenerator.View.sectionData.uc_office.translate() in D:\Github\book-serial-generator\SerialGenerator\SerialGenerator\View\sectionData\uc_office.xaml.cs:line 114
   at SerialGenerator.View.sectionData.uc_office.<UserControl_Loaded>d__13.MoveNext() in D:\Github\book-serial-generator\SerialGenerator\SerialGenerator\View\sectionData\uc_office.xaml.cs:line 85', N'Void translate()', CAST(N'2023-11-23T19:57:10.7854700' AS DateTime2), 2)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (3, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.translate() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 98
   at BookAccountApp.View.setup.uc_codeconfig.<UserControl_Loaded>d__11.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 68', N'Void translate()', CAST(N'2023-11-26T16:21:25.1473837' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (4, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.translate() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 98
   at BookAccountApp.View.setup.uc_codeconfig.<UserControl_Loaded>d__11.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 68', N'Void translate()', CAST(N'2023-11-26T16:22:19.3308920' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (5, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.translate() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 98
   at BookAccountApp.View.setup.uc_codeconfig.<UserControl_Loaded>d__11.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 68', N'Void translate()', CAST(N'2023-11-26T16:23:16.7437752' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (6, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.translate() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 98
   at BookAccountApp.View.setup.uc_codeconfig.<UserControl_Loaded>d__11.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 68', N'Void translate()', CAST(N'2023-11-26T16:24:14.5132009' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (7, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 204', N'Void MoveNext()', CAST(N'2023-11-26T20:44:07.5761633' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (8, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 204', N'Void MoveNext()', CAST(N'2023-11-26T20:44:30.1211894' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (9, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 204', N'Void MoveNext()', CAST(N'2023-11-26T20:45:56.5156956' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (10, N'-2146233088', N'Unexpected character encountered while parsing value: ￏ. Path '''', line 0, position 0.', N'   at Newtonsoft.Json.JsonTextReader.ParseValue()
   at Newtonsoft.Json.JsonTextReader.ReadInternal()
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType(JsonReader reader, JsonContract contract, Boolean hasConverter)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.Deserialize(JsonReader reader, Type objectType, Boolean checkAdditionalContent)
   at Newtonsoft.Json.JsonSerializer.DeserializeInternal(JsonReader reader, Type objectType)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 203', N'Boolean ParseValue()', CAST(N'2023-11-26T21:00:05.3146495' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (11, N'-2146233088', N'Unexpected character encountered while parsing value: ￏ. Path '''', line 0, position 0.', N'   at Newtonsoft.Json.JsonTextReader.ParseValue()
   at Newtonsoft.Json.JsonTextReader.ReadInternal()
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType(JsonReader reader, JsonContract contract, Boolean hasConverter)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.Deserialize(JsonReader reader, Type objectType, Boolean checkAdditionalContent)
   at Newtonsoft.Json.JsonSerializer.DeserializeInternal(JsonReader reader, Type objectType)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 203', N'Boolean ParseValue()', CAST(N'2023-11-26T21:00:08.3818876' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (12, N'-2146233088', N'Unexpected character encountered while parsing value: ￏ. Path '''', line 0, position 0.', N'   at Newtonsoft.Json.JsonTextReader.ParseValue()
   at Newtonsoft.Json.JsonTextReader.ReadInternal()
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.ReadForType(JsonReader reader, JsonContract contract, Boolean hasConverter)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.Deserialize(JsonReader reader, Type objectType, Boolean checkAdditionalContent)
   at Newtonsoft.Json.JsonSerializer.DeserializeInternal(JsonReader reader, Type objectType)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 203', N'Boolean ParseValue()', CAST(N'2023-11-26T21:18:32.7300335' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (13, N'-2146233088', N'Invalid character after parsing property name. Expected '':'' but got: g. Path ''yearCount'', line 1, position 175.', N'   at Newtonsoft.Json.JsonTextReader.ParseProperty()
   at Newtonsoft.Json.JsonTextReader.ParseObject()
   at Newtonsoft.Json.JsonTextReader.ReadInternal()
   at Newtonsoft.Json.JsonTextReader.Read()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.PopulateObject(Object newObject, JsonReader reader, JsonObjectContract contract, JsonProperty member, String id)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.CreateObject(JsonReader reader, Type objectType, JsonContract contract, JsonProperty member, JsonContainerContract containerContract, JsonProperty containerMember, Object existingValue)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.CreateValueInternal(JsonReader reader, Type objectType, JsonContract contract, JsonProperty member, JsonContainerContract containerContract, JsonProperty containerMember, Object existingValue)
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.Deserialize(JsonReader reader, Type objectType, Boolean checkAdditionalContent)
   at Newtonsoft.Json.JsonSerializer.DeserializeInternal(JsonReader reader, Type objectType)
   at Newtonsoft.Json.JsonConvert.DeserializeObject(String value, Type type, JsonSerializerSettings settings)
   at Newtonsoft.Json.JsonConvert.DeserializeObject[T](String value, JsonSerializerSettings settings)
   at BookAccountApp.View.setup.uc_codeconfig.<Btn_activate_Click>d__20.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\setup\uc_codeconfig.xaml.cs:line 204', N'Boolean ParseProperty()', CAST(N'2023-11-26T22:12:20.7474434' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (14, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.View.windows.wd_setupProg.translate() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_setupProg.xaml.cs:line 97
   at BookAccountApp.View.windows.wd_setupProg.<Window_Loaded>d__16.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_setupProg.xaml.cs:line 73', N'Void translate()', CAST(N'2023-11-27T17:53:20.1319838' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (15, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.ApiClasses.ProgramDetailsCls.<CheckmodelAvailable>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\ApiClasses\ProgramDetailsCls.cs:line 109
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at BookAccountApp.View.windows.wd_setupProg.<Btn_activate_Click>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_setupProg.xaml.cs:line 222', N'Void MoveNext()', CAST(N'2024-01-03T19:18:24.9309459' AS DateTime2), NULL)
INSERT [dbo].[error] ([errorId], [num], [msg], [stackTrace], [targetSite], [createDate], [createUserId]) VALUES (16, N'-2147467261', N'Object reference not set to an instance of an object.', N'   at BookAccountApp.ApiClasses.ProgramDetailsCls.<CheckmodelAvailable>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\Classes\ApiClasses\ProgramDetailsCls.cs:line 109
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at BookAccountApp.View.windows.wd_setupProg.<Btn_activate_Click>d__22.MoveNext() in D:\Github\book-account\BookAccountApp\BookAccountApp\View\windows\wd_setupProg.xaml.cs:line 222', N'Void MoveNext()', CAST(N'2024-01-03T19:18:49.9401127' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[error] OFF
GO
SET IDENTITY_INSERT [dbo].[paySides] ON 

INSERT [dbo].[paySides] ([paysideId], [side], [sideAr], [notes], [isActive], [code], [balance]) VALUES (1, N'passenger', N'مسافر', N'd', 1, N'passenger', CAST(0.000 AS Decimal(20, 3)))
INSERT [dbo].[paySides] ([paysideId], [side], [sideAr], [notes], [isActive], [code], [balance]) VALUES (2, N'office', N'مكتب', N'p d', 1, N'office', CAST(0.000 AS Decimal(20, 3)))
INSERT [dbo].[paySides] ([paysideId], [side], [sideAr], [notes], [isActive], [code], [balance]) VALUES (3, N'system', N'نظام الحجز', N'd', 1, N'system', CAST(0.000 AS Decimal(20, 3)))
SET IDENTITY_INSERT [dbo].[paySides] OFF
GO
SET IDENTITY_INSERT [dbo].[setting] ON 

INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (1, N'com_name', NULL)
INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (2, N'com_address', NULL)
INSERT [dbo].[setting] ([settingId], [name], [notes]) VALUES (3, N'com_email', NULL)
SET IDENTITY_INSERT [dbo].[setting] OFF
GO
SET IDENTITY_INSERT [dbo].[setValues] ON 

INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (1, N'en', 0, 0, NULL, 9)
INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (2, N'ar', 0, 0, NULL, 9)
INSERT [dbo].[setValues] ([valId], [value], [isDefault], [isSystem], [notes], [settingId]) VALUES (12, N'0', 1, 1, NULL, 11)
GO
SET IDENTITY_INSERT [dbo].[setValues] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[countriesCodes] ADD  CONSTRAINT [DF_countriesCodes_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customers_balance]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customers_balanceType]  DEFAULT ((0)) FOR [balanceType]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_balance]  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[cities]  WITH CHECK ADD  CONSTRAINT [FK_cities_countriesCodes] FOREIGN KEY([countryId])
REFERENCES [dbo].[countriesCodes] ([countryId])
GO
ALTER TABLE [dbo].[cities] CHECK CONSTRAINT [FK_cities_countriesCodes]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_countriesCodes] FOREIGN KEY([countryId])
REFERENCES [dbo].[countriesCodes] ([countryId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_countriesCodes]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_users]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_users1]
GO
ALTER TABLE [dbo].[error]  WITH CHECK ADD  CONSTRAINT [FK_error_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[error] CHECK CONSTRAINT [FK_error_users]
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD  CONSTRAINT [FK_flights_airlines] FOREIGN KEY([airlineId])
REFERENCES [dbo].[airlines] ([airlineId])
GO
ALTER TABLE [dbo].[flights] CHECK CONSTRAINT [FK_flights_airlines]
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD  CONSTRAINT [FK_flights_flightTable] FOREIGN KEY([flightTableId])
REFERENCES [dbo].[flightTable] ([flightTableId])
GO
ALTER TABLE [dbo].[flights] CHECK CONSTRAINT [FK_flights_flightTable]
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD  CONSTRAINT [FK_flights_fromTable] FOREIGN KEY([fromTableId])
REFERENCES [dbo].[fromTable] ([fromTableId])
GO
ALTER TABLE [dbo].[flights] CHECK CONSTRAINT [FK_flights_fromTable]
GO
ALTER TABLE [dbo].[flights]  WITH CHECK ADD  CONSTRAINT [FK_flights_toTable] FOREIGN KEY([toTableId])
REFERENCES [dbo].[toTable] ([toTableId])
GO
ALTER TABLE [dbo].[flights] CHECK CONSTRAINT [FK_flights_toTable]
GO
ALTER TABLE [dbo].[office]  WITH CHECK ADD  CONSTRAINT [FK_office_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[office] CHECK CONSTRAINT [FK_office_users]
GO
ALTER TABLE [dbo].[office]  WITH CHECK ADD  CONSTRAINT [FK_office_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[office] CHECK CONSTRAINT [FK_office_users1]
GO
ALTER TABLE [dbo].[officeFiles]  WITH CHECK ADD  CONSTRAINT [FK_officeFiles_office] FOREIGN KEY([officeId])
REFERENCES [dbo].[office] ([officeId])
GO
ALTER TABLE [dbo].[officeFiles] CHECK CONSTRAINT [FK_officeFiles_office]
GO
ALTER TABLE [dbo].[officeSystem]  WITH CHECK ADD  CONSTRAINT [FK_officeSystem_office] FOREIGN KEY([officeId])
REFERENCES [dbo].[office] ([officeId])
GO
ALTER TABLE [dbo].[officeSystem] CHECK CONSTRAINT [FK_officeSystem_office]
GO
ALTER TABLE [dbo].[officeSystem]  WITH CHECK ADD  CONSTRAINT [FK_officeSystem_systems] FOREIGN KEY([systemId])
REFERENCES [dbo].[systems] ([systemId])
GO
ALTER TABLE [dbo].[officeSystem] CHECK CONSTRAINT [FK_officeSystem_systems]
GO
ALTER TABLE [dbo].[operations]  WITH CHECK ADD  CONSTRAINT [FK_operations_durationsTable] FOREIGN KEY([durationId])
REFERENCES [dbo].[durationsTable] ([durationId])
GO
ALTER TABLE [dbo].[operations] CHECK CONSTRAINT [FK_operations_durationsTable]
GO
ALTER TABLE [dbo].[operations]  WITH CHECK ADD  CONSTRAINT [FK_operations_statementsTable] FOREIGN KEY([opStatementId])
REFERENCES [dbo].[statementsTable] ([opStatementId])
GO
ALTER TABLE [dbo].[operations] CHECK CONSTRAINT [FK_operations_statementsTable]
GO
ALTER TABLE [dbo].[passengerFiles]  WITH CHECK ADD  CONSTRAINT [FK_passengerFiles_passengers] FOREIGN KEY([passengerId])
REFERENCES [dbo].[passengers] ([passengerId])
GO
ALTER TABLE [dbo].[passengerFiles] CHECK CONSTRAINT [FK_passengerFiles_passengers]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_exchange] FOREIGN KEY([exchangeId])
REFERENCES [dbo].[exchange] ([exchangeId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_exchange]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_flights] FOREIGN KEY([flightId])
REFERENCES [dbo].[flights] ([flightId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_flights]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_office] FOREIGN KEY([officeId])
REFERENCES [dbo].[office] ([officeId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_office]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_passengers] FOREIGN KEY([passengerId])
REFERENCES [dbo].[passengers] ([passengerId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_passengers]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_payOp] FOREIGN KEY([sourceId])
REFERENCES [dbo].[payOp] ([payOpId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_payOp]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_paySides] FOREIGN KEY([paysideId])
REFERENCES [dbo].[paySides] ([paysideId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_paySides]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_serviceData] FOREIGN KEY([serviceId])
REFERENCES [dbo].[serviceData] ([serviceId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_serviceData]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_systems] FOREIGN KEY([systemId])
REFERENCES [dbo].[systems] ([systemId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_systems]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_users]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_users1]
GO
ALTER TABLE [dbo].[payOp]  WITH CHECK ADD  CONSTRAINT [FK_payOp_users2] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[payOp] CHECK CONSTRAINT [FK_payOp_users2]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_exchange] FOREIGN KEY([exchangeId])
REFERENCES [dbo].[exchange] ([exchangeId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_exchange]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_flights] FOREIGN KEY([flightId])
REFERENCES [dbo].[flights] ([flightId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_flights]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_office] FOREIGN KEY([officeId])
REFERENCES [dbo].[office] ([officeId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_office]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_officeSystem] FOREIGN KEY([osId])
REFERENCES [dbo].[officeSystem] ([osId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_officeSystem]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_operations] FOREIGN KEY([operationId])
REFERENCES [dbo].[operations] ([operationId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_operations]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_passengers] FOREIGN KEY([passengerId])
REFERENCES [dbo].[passengers] ([passengerId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_passengers]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_systems] FOREIGN KEY([systemId])
REFERENCES [dbo].[systems] ([systemId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_systems]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_users]
GO
ALTER TABLE [dbo].[serviceData]  WITH CHECK ADD  CONSTRAINT [FK_serviceData_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[serviceData] CHECK CONSTRAINT [FK_serviceData_users1]
GO
ALTER TABLE [dbo].[serviceDataFiles]  WITH CHECK ADD  CONSTRAINT [FK_serviceDataFiles_serviceData] FOREIGN KEY([serviceId])
REFERENCES [dbo].[serviceData] ([serviceId])
GO
ALTER TABLE [dbo].[serviceDataFiles] CHECK CONSTRAINT [FK_serviceDataFiles_serviceData]
GO
ALTER TABLE [dbo].[setValues]  WITH CHECK ADD  CONSTRAINT [FK_setValues_setting] FOREIGN KEY([settingId])
REFERENCES [dbo].[setting] ([settingId])
GO
ALTER TABLE [dbo].[setValues] CHECK CONSTRAINT [FK_setValues_setting]
GO
ALTER TABLE [dbo].[systems]  WITH CHECK ADD  CONSTRAINT [FK_systems_users] FOREIGN KEY([createUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[systems] CHECK CONSTRAINT [FK_systems_users]
GO
ALTER TABLE [dbo].[systems]  WITH CHECK ADD  CONSTRAINT [FK_systems_users1] FOREIGN KEY([updateUserId])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[systems] CHECK CONSTRAINT [FK_systems_users1]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_countriesCodes] FOREIGN KEY([countryId])
REFERENCES [dbo].[countriesCodes] ([countryId])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_countriesCodes]
GO
ALTER TABLE [dbo].[userSetValues]  WITH CHECK ADD  CONSTRAINT [FK_userSetValues_setValues] FOREIGN KEY([valId])
REFERENCES [dbo].[setValues] ([valId])
GO
ALTER TABLE [dbo].[userSetValues] CHECK CONSTRAINT [FK_userSetValues_setValues]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'syr or soto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'serviceData'
GO
